.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  @supports (display: grid-row) {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // add as many tracks as they fit in the container for the given widths. This will enable some responsiveness
    // by placing items into the next row if there isn't enough space in the row
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }
}

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;

  // reset above if grid is supported
  @supports (display: grid-row) {
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
